.avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.sort-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    line-height: 1; /* Removes extra height around icons */
}

.sort-buttons {
    display: flex;
    margin-left: 10px;
    /* column*/
    flex-direction: column;
    justify-content: center;
    gap: 0; /* Ensure no extra space between buttons */
}

.header-with-sort {
    display: flex;
    align-items: center;
    justify-content: center;
}

th:not(.header-with-sort) {
    vertical-align: middle;
    padding-top: 10px; /* Adjust this value as needed */
}

.button-unban,
.button-ban,
.button-view {
    font-size: 0.8rem;
    cursor: pointer;
    transition: transform 0.2s;
    margin-right: 5px;
    padding: 0.5rem;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.button-view {
    background-color: #28a745;
    color: #fff;
}

.button-ban {
    background-color: #ff0749;
    color: #fff;
}

.button-unban {
    background-color: #ffc107;
    color: #fff;
}

.table td {
    vertical-align: middle;
    border-top: none;
}

.button:hover {
    transform: scale(1.2);

}