<link rel="stylesheet" href="/css/header.css">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <!-- Search Form -->
        <form action="#" method="get" class="d-flex me-auto" style="width: 500px;">
            <div class="input-group">
                <h2 style="margin-left: 40px" class="text-black-900">Welcome to TVV Store</h2>
<!--                <input type="text" class="form-control" placeholder="Search here"-->
<!--                       style="height: 35px; border-radius: 30px;" />-->
            </div>
        </form>

        <!-- Right Section -->
        <div class="d-flex align-items-center">

            <!-- Profile Dropdown -->
            <div class="dropdown" >
                <span id="firstName" class="mr-2 d-none d-lg-inline text-black-900 medium">{{user.firstName}}</span>

                <img src="https://www.kindpng.com/picc/m/722-7221920_placeholder-profile-image-placeholder-png-transparent-png.png"
                     alt="User profile picture" class="rounded-circle"
                     id="avatar-dropdown" role="button"
                     style="width: 40px; height: 40px; cursor: pointer; object-fit: cover;"
                >

                <!-- Dropdown Menu -->
                <ul class="dropdown-menu" id="dropdownMenu" style="display: none; position: absolute; right: 0; top: 100%; background-color: white; border: 1px solid #ddd; border-radius: 5px; z-index: 1000; list-style: none; padding: 0;">
                    <li>
                        <a id="open-profile-modal" class="dropdown-item" href="#">
                            Profile
                        </a>
                    </li>
                    <li>
                        <a id="open-change-password-modal" class="dropdown-item" onclick="openChangePasswordModal()" href="#">
                            Change Password
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/auth/logout">
                            <i class="fa-solid fa-right-from-bracket me-2"></i> <!-- Logout Icon -->
                            Logout
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</nav>


<!-- Profile Modal -->
<div id="profile-modal" class="modal">
    <div class="modal-content">
        <span id="close-modal" class="close-btn">&times;</span>
        <!-- Profile Content -->
        <div class="profile-container">
            <!-- Avatar and User Info -->
            <div class="profile-header">
                <div class="avatar">
                    <img id="avatar-img" src="https://via.placeholder.com/150" alt="User Avatar">
                    <input type="file" id="avatar-input" accept="image/*">
                    <label for="avatar-input" class="edit-avatar">Change Avatar</label>
                </div>
                <div class="user-info">
                    <text class="username">John Doe</text>
                </div>
            </div>

            <!-- Edit Profile Form -->
            <div class="update-profile">
                <h3>Edit Profile</h3>
                <form>
                    <label for="first-name">First Name:</label>
                    <input type="text" id="first-name" placeholder="Enter first name" required>

                    <label for="last-name">Last Name:</label>
                    <input type="text" id="last-name" placeholder="Enter last name" required>

                    <button type="submit" class="save-btn">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Change password Modal -->
<div class="modal" id="change-password-modal">
    <div class="modal-content">
        <!-- Profile Container -->
        <div class="profile-container">
            <!-- Close Button -->
            <span id="close-change-password-modal" class="close-btn">&times;</span>
            <div class="change-password">
                <h3>Change Password</h3>
                <form>
                    <label for="current-password">Current Password:</label>
                    <div class="password-container">
                        <input type="password" id="current-password" placeholder="Enter current password" required>
                        <i class="fa fa-eye toggle-password" onclick="togglePasswordVisibility('current-password')"></i>
                    </div>

                    <label for="new-password">New Password:</label>
                    <div class="password-container">
                        <input type="password" id="new-password" placeholder="Enter new password" required>
                        <i class="fa fa-eye toggle-password" onclick="togglePasswordVisibility('new-password')"></i>
                    </div>

                    <label for="confirm-password">Confirm New Password:</label>
                    <div class="password-container">
                        <input type="password" id="confirm-password" placeholder="Confirm new password" required>
                        <i class="fa fa-eye toggle-password" onclick="togglePasswordVisibility('confirm-password')"></i>
                    </div>

                    <button type="submit" class="save-btn">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div id="loading">
    <div class="lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>


{{#if error}}
    <script>
        //# sourceURL=auth.js
        swal("Error", "{{{error.[0]}}}", "error");
    </script>
{{/if}}

{{#if success}}
    <script>
        //# sourceURL=auth.js
        swal("Success", "{{{success.[0]}}}", "success");
    </script>
{{/if}}


<script src="/js/header.js"></script>