<link rel="stylesheet" href="/css/header.css">

<header class="d-flex justify-content-between align-items-center">
    <form action="#" method="get" class="m-2" style="width: 500px">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search here"/>
            <div class="input-group-append">
                <button class="btn btn-dark" type="submit">
                    <i class="fa-solid fa-search"></i>
                </button>
            </div>
        </div>
    </form>

    <div class="d-flex align-items-center justify-content-center">
        <div class="notification">
            <i class="fa-solid fa-bell"></i>
            <span class="badge">3</span>
        </div>
        <div class="notification">
            <i class="fa-solid fa-envelope"></i>
            <span class="badge">5</span>
        </div>
        <div class="profile">
            <div class="d-flex align-items-center">
                <img src="https://res.cloudinary.com/duf2t1pkp/image/upload/v1734160942/wnjq1p5rtgax4uxjm6v3.jpg" alt="Profile">
            </div>
        </div>
    </div>

</header>