<!DOCTYPE html>
<html lang="en">
<head>
    <title>Glassmorphism login Form Tutorial in html css</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form id="loginForm">
        <h3>Login Here</h3>

        <label for="username">Username</label>
        <input type="text" name="username" placeholder="Username" id="username" required>

        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Password" id="password" required>
        <i class="far fa-eye toggle-password" id="togglePassword"></i>

        <button type="submit">Log In</button>
    </form>

    <div id="loading">
        <div class="lds-ring">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <script src="/js/login.js"></script>
    <script src="/js/main.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


    {{#if error}}
        <script>
            //# sourceURL=auth.js
            swal("Error", "{{{error.[0]}}}", "error");
        </script>
    {{/if}}

    {{#if success}}
        <script>
            //# sourceURL=auth.js
            swal("Success", "{{{success.[0]}}}", "success");
        </script>
    {{/if}}

</body>
</html>