<!DOCTYPE html>
<html lang="en">
<head>
    <title>TVV Store Admin</title>
    <link rel="shortcut icon" href="/images/favicon.png" type="">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<body>
    <div class="row">
        <div class="col-2 p-0">
            {{> sidebar}}
        </div>
        <div class="col-10 p-0">
            <div class="row">
                <div class="col-12 p-0">
                    {{> header}}
                </div>
                <div class="col-12 p-0">
                    {{{body}}}
                </div>
            </div>
        </div>
    </div>

    <div id="loading">
        <div class="lds-ring" >
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="/js/jquery-3.4.1.min.js"></script>
    <!-- popper js -->
    <script src="/js/popper.min.js"></script>
    <!-- bootstrap js -->
    <script src="/js/bootstrap.js"></script>
    <!-- custom js -->
    <script src="/js/custom.js"></script>

    <script src="/js/main.js"></script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    {{#if error}}
        <script>
            //# sourceURL=auth.js
            swal("Error", "{{{error.[0]}}}", "error");
        </script>
    {{/if}}

    {{#if success}}
        <script>
            //# sourceURL=auth.js
            swal("Success", "{{{success.[0]}}}", "success");
        </script>
    {{/if}}
</body>
</html>
